/*                  Topbar                */


:root {
    /* var() */
    --main-bg-color: #24303C;
    --contrast-bg-color: #3c242a;
    --orange-color: #e78200;
    --orange-neon: #FF9900;
    --red-stock: #cb3234;
    --blue-hyper: #007bff;

}

.container-fluid {
    margin: 0;
    padding: 0;
}


.topbar {
    display: table;
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 30px;
    border-bottom: 1px solid #e1e7ec;
    background-color: #CFD8DC;
}

.topbar .topbar-column {
    display: table-cell;
    width: 50%;
    vertical-align: middle;

}

.topbar .topbar-column:last-child {
    text-align: right
}



.topbar .topbar-column a:not(.social-button),
.topbar .topbar-column span,
.topbar .topbar-column p {
    color: #606975;
    font-size: 13px
}


.topbar .topbar-column a:not(.social-button) {
    transition: color .3s;
    text-decoration: none
}

.topbar .topbar-column a:not(.social-button):hover {
    color: #0da9ef
}


.social-button {
    display: inline-block;
    margin-right: 18px;
    transition: color .3s;
    color: #606975;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle
}


.sb-facebook:hover,
.sb-facebook:focus {
    color: #3b5998
}

.sb-pinterest:hover,
.sb-pinterest:focus {
    color: #cc2127
}

.sb-instagram:hover,
.sb-instagram:focus {
    color: #3f729b
}

.sb-twitter:hover,
.sb-twitter:focus {
    color: #55acee
}

/*            Header             */


.navbar {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 0 5px 0;
    max-height: 70px;
    width: 100%;
    background: rgb(36, 48, 60);
    background: linear-gradient(90deg, rgba(36, 48, 60, 1) 30%, rgba(60, 36, 48, 1) 66%);

}

.site-branding {
    position: relative;
    top: 11px;
    right: 5px;
    bottom: 0;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 30px;
    height: 100%;
}

.toolbar .inner {
    display: table;
    height: 100%;
    min-height: 100%
}

.toolbar .tools {
    display: table-cell;
    vertical-align: middle
}

.search,
.account,
.cart {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: background-color .35s;
    border: 2px solid wheat;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none
}

.hover-toolbar {
    text-decoration: none;
    color: inherit;
}

.hover-toolbar:hover {
    color: orange;
    text-emphasis: none;
    text-decoration: none;
}


.hover-toolbar i {
    line-height: 42px;
}

.icon-bag {
    line-height: 38px;
    display: inline-block;
}

/* TEXTO BURGUER */
ul.hamburguer {
    text-align: center;
    padding: 0px;
}


.texto-ham {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #444444;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: .05em;
    padding: 5px 0 5px 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px; */
}

.texto-ham:hover {
    background-color: var(--blue-hyper);
    padding-left: 20px;
    color: white;
}

.noAddsA:hover {
    text-decoration: none;
    color: inherit;
}

/* TEXTO BURGUER */

.toolbar .cart {
    width: auto;
    padding: 0 16px;
    border-radius: 22px
}

.toolbar .cart>a {
    border-radius: 22px
}

.count,
.subtotal {
    display: inline-block;
    margin-top: 2px;
    font-size: 14px;
    vertical-align: middle
}

.toolbar .cart>.count {
    margin-left: 5px
}

.subtotal {
    margin-left: 11px;
    padding: 1px 0 1px 12px;
    border-left: 1px solid #e1e7ec
}

.subtotal:hover {
    border-left: 1px solid #3c242a
}


.dropdown-toggle::after {
    display: none;
}



/* mobile sin agarrar tablets HEADER */
@media (min-width: 320px) and (max-width: 767px) {

    .toolbar .search>i,
    .toolbar .cart .icon-bag,
    .toolbar .account .icon-head {
        line-height: 34px;
    }

    .count,
    .subtotal {
        display: none;
    }

    .navbar {
        min-height: 50px;
    }

    .topbar .topbar-column {
        width: 0%;
    }

    .topbar .topbar-column:last-child {
        text-align: center;
    }

    .toolbar {
        right: 20px;
    }

    .social-button {
        font-size: medium;
        margin: 5px 20px 0 20px;
        padding: 0%;

    }

    .toolbar .search,
    .toolbar .account,
    .toolbar .cart {
        left: 10px;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        display: inline-block;
        position: relative;
        transition: background-color .35s;
        font-size: 17px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
    }

    .toolbar .cart>.count {
        display: none;
    }


    .toolbar .cart {
        padding: 0%;
    }

    .ham {
        width: 75%;
        margin-left: 5px;
        margin-top: 3px;
    }

    .hidden-md-down {
        display: none
    }

    .toolbar .cart>.subtotal {
        display: none;
    }

    .offcanvas-toggle {
        width: 46px
    }

}

/* Tablet hasta notebook HEADER */
@media (min-width: 768px) and (max-width: 1023px) {

    .toolbar .search>i,
    .toolbar .account .icon-head,
    .toolbar .cart .icon-bag {
        line-height: 48px;
    }

    .subtotal,
    .count {
        margin-bottom: 10px;
    }


    .navbar {
        min-height: 80px;
    }



    .social-button {
        font-size: medium;
        margin: 5px 10px 0 10px;
        padding: 0%;

    }

    .toolbar .search,
    .toolbar .account,
    .toolbar .cart {
        width: 44px;
        height: 44px;
        display: inline-block;
        position: relative;
        transition: background-color .35s;
        font-size: 24px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
    }

    .toolbar .cart {
        width: auto;
        padding: 0 16px;
        border-radius: 22px;
    }

    a.site-logo {
        width: 250px;
        text-decoration: none;
        padding: 5px 15px 0px 25px;
    }

    .ham {
        width: 75%;
        margin-left: 5px;
        margin-top: 3px;
    }

}

/* Notebook hasta TV HEADER */
@media (min-width: 1024px) and (max-width: 2560px) {

    a.site-logo {
        width: 250px;
        text-decoration: none;
        padding: 5px 15px 0px 25px;
    }

    .social-button {
        font-size: large;
        margin-top: 2px;
    }

    .toolbar .search,
    .toolbar .account,
    .toolbar .cart {
        font-size: 20px;
    }

    .subtotal,
    .count {
        margin-bottom: 8px;
    }

    .toolbar .search>i,
    .toolbar .account .icon-head,
    .toolbar .cart .icon-bag {
        line-height: 41px;
    }

    .toolbar .cart>.subtotal,
    .toolbar .cart>.count {
        margin-bottom: 10px;
    }
}

.inner-wrapper {
    display: flex;
    justify-content: center;
}



/* Header invisible cuando bajas */
header {
    width: 100%;
    padding: 3rem 0;
    position: sticky;
    top: 0;
    animation: fade-in .2;

}

header .invisible {
    position: fixed;
    top: -100%;
    animation: fade-out 2s;

}

@keyframes fade-in {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@keyframes fade-out {
    from {
        top: 0%;
    }

    to {
        top: -100;
    }
}

svg.hamburguerSvg {
    height: 80px;
    position: absolute;
    width: 80px;
    bottom: -5px;
    left: -3px;
}

/* @media (max-width:768px) {
    svg.hamburguerSvg {
        top: -17px;
        left: -17px;
    }

} */



.plates {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
}

.plate {
    height: 48px;
}

.burger {
    filter: url(#gooeyness);
}

.x {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
    stroke-width: 5.5px;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

/* Den femte rätten */
.plate5 .line {
    transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate5 .line1 {
    stroke-dasharray: 40 40;
}

.plate5 .line2 {
    stroke-dasharray: 21 39;
}

.plate5 .line3 {
    stroke-dasharray: 21 39;
}

.plate5 .line4 {
    stroke-dasharray: 40 40;
}

.plate5 .x {
    transition: transform 400ms 50ms;
}

.active.plate5 .line {
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate5 .line1 {
    stroke-dasharray: 1 40;
    stroke-dashoffset: -33px;
}

.active.plate5 .line2 {
    stroke-dasharray: 5 39;
    stroke-dashoffset: -37px;
}

.active.plate5 .line3 {
    stroke-dasharray: 5 39;
    stroke-dashoffset: -37px;
}

.active.plate5 .line4 {
    stroke-dasharray: 1 40;
    stroke-dashoffset: -33px;
}

.active.plate5 .x {
    transition: transform 400ms 50ms;
}

.mainSearch-input {
    border: none;
    background-color: wheat;
    box-shadow: none;
    margin-left: 20px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-transform: capitalize;
}


/* ---------------Last navbar--------------- */

.form-inline {
    display: inline-block;
}

.navbar-header.col {
    padding: 0 !important;
}

/* .navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
} */

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    margin-left: 70px;
    padding-right: 0px;
    margin-right: 0px;
    font-family: 'Merienda One', sans-serif;
}

.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .nav-item.open>a {
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
}

.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:active {
    color: #333;
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .badge {
    color: #fff;
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
}

.navbar a.notifications,
.navbar a.messages {
    position: relative;
    margin-right: 10px;
}

.navbar a.messages {
    margin-right: 20px;
}

.navbar a.notifications .badge {
    margin-left: -8px;
}

.navbar a.messages .badge {
    margin-left: -4px;
}

.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
    background: transparent !important;
}

.navbar-nav {
    padding-right: 60px;
    flex-direction: row;

}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 1199px) {
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }

    .input-group {
        width: 100%;
    }
}