:root {
  /* var() */
  --main-bg-color: #24303C;
  --contrast-bg-color: #3c242a;
  --orange-color: #e78200;
  --orange-neon: #FF9900;
  --red-stock: #cb3234;
  --blue-hyper: #007bff;
}

/* BARRA DE SCROLL */

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}


body {
  background-color: #f5f5f5;
  text-decoration: none;
}

.container-fluid {
  margin: 0%;
}

.breadcrumb {

  background-color: #24303c;

}

h4.price {
  color: black;
  font-size: 19px;
}

@media (min-width:992px) {}

a {
  text-decoration: none;
  color: inherit;
}

.hyperlink {
  color: var(--blue-hyper);
}



/* -------------------------------.test.------------------------------- */

/* Icon set - http://ionicons.com/ */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

figure.snip1218 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  background: #34495e;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

figure.snip1218 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1218 img {
  max-width: 100%;
  vertical-align: top;
}

figure.snip1218 .image {
  position: relative;
  border-bottom: 3px solid #34495e;
  z-index: 1;
}

figure.snip1218 .image:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 20px 0 20px;
  border-color: #34495e transparent transparent transparent;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1218 .image p {
  font-weight: 500;
  margin: 0;
  padding: 0 30px;
  line-height: 1.6em;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-style: italic;
}

figure.snip1218 figcaption {
  background-color: #ffffff;
  padding: 25px;
}

figure.snip1218 h4 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}

/* figure.snip1218 h3 span {
  font-weight: 800;
} */
figure.snip1218 h5 {
  margin: 0 0 15px;
  font-weight: 400;
  color: var(--main-bg-color);
}

/* figure.snip1218 i {
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}
figure.snip1218 i:hover {
  background-color: #34495e;
  color: white !important;
} */
figure.snip1218:hover .image:before,
figure.snip1218.hover .image:before {
  border-color: #34495e transparent transparent transparent;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

figure.snip1218:hover .image p,
figure.snip1218.hover .image p {
  opacity: 1;
}

figure.snip1218:hover img,
figure.snip1218.hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.social {
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 1;
  transition: all .5s ease 0s
}

.snip1218:hover .social {
  opacity: 1;
  bottom: 25px;
  padding: 25px;
}

.social li {
  display: inline-block
}

.social li a {
  color: #909090;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 1px solid #909090;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all .3s ease-in-out
}

.social li a:hover {
  color: #fff;
  background-color: #2e86de;
  width: 80px
}

.social li a:after,
.social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #2e86de;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px
}

.social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1
}

.social li a:hover:after,
.social li a:hover:before {
  opacity: 1
}



/* --------------------------------------------.testFiltros.----------------------------------- */

.wrapper {
  width: 100%;
  margin-left: 16px
}

@media(max-width:992px) {
  .wrapper {
    width: 100%
  }
}

.panel {
  margin-bottom: 5px
}

.panel-title {
  margin-bottom: .0rem
}

.panel-collapse {
  background: #fff;
  border-bottom: 1px solid #d5d5d5
}

.panel-heading {
  padding: 0;
  border: 0;
  padding: 0px 3px !important
}

.panel-body {
  padding: 13px
}

.panel-title>a,
.panel-title>a:active {
  display: block;
  padding: 10px;
  color: #555;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none
}

.panel-heading a:before {
  font-family: 'Font Awesome 5 Free';
  float: right;
  transition: all 0.5s
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg)
}

.panel-default>.panel-heading {
  color: #282b2f;
  background-color: #ffffff !important;
  border-bottom: 1px solid #d5d5d5
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.15;
    position: relative
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: -8.66667px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000
}

.option-input:hover {
  background: #9faab7
}

.option-input:checked {
  background: #2874ef
}

.option-input:checked::before {
  height: 24px;
  width: 24px;
  position: absolute;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 14.66667px;
  text-align: center;
  line-height: 26px
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.15s;
  -moz-animation: click-wave 0.15s;
  animation: click-wave 0.15s;
  background: #E91E63;
  content: '';
  display: block;
  position: relative;
  z-index: 100
}

.option-input.radio {
  border-radius: 50%
}

.option-input.radio::after {
  border-radius: 50%
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -4px !important;
  margin-top: 9px
}

input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px
}

.ml-10 {
  margin-left: 10px;
  font-size: 12px;
  color: #080808
}

.btn.btn-out {
  outline: 1px solid #fff;
  outline-offset: -5px
}

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 11px;
  padding: 10px 19px;
  cursor: pointer;
  color: #fff
}

.refine {
  padding: 0px 0px !important
}

.filters-text {
  background: #fff;
  border: 1px solid #d5d5d5;
  margin-bottom: 15px;
  padding: 12px
}

.filter-span {
  font-size: 17px;
  color: #2874ef
}


/* ----------------------------------.bread .------------------------------------ */

.breadUl {
  list-style: none;

}

#crumbs {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.breadLi {
  display: inline;
}

.breadLink {
  display: block;
  float: left;
  text-decoration: none;
  height: 50px;
  background: var(--main-bg-color);
  box-sizing: content-box;
  text-align: center;
  padding: 30px 10px 0 60px;
  position: relative;
  margin: 0 10px 0 0;

  font-size: 20px;
  color: var(--orange-color);
}

@media (max-width:600px) {
  .breadLink {
    padding: 30px 0px 0 50px;
    font-size: 11px;
  }

  .first_bread {
    padding-left: 10px;
  }

  .last_bread {
    padding-right: 10px;
  }
}

.breadLink:after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid var(--main-bg-color);
  position: absolute;
  right: -40px;
  top: 0;
  z-index: 1;
}

.breadLink:before {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}

#crumbs ul li:first-child .breadLink {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#crumbs ul li:first-child .breadLink:before {
  display: none;
}

@media (min-width:601px) {
  #crumbs ul li:last-child .breadLink {
    padding-right: 40px;
  }
}

#crumbs ul li:last-child .breadLink {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child .breadLink:after {
  display: none;
}

#crumbs ul li .breadLink:hover {
  background: var(--orange-color);
  color: var(--main-bg-color);
}

#crumbs ul li .breadLink:hover:after {
  border-left-color: var(--orange-color);
  color: var(--main-bg-color);
}

.hyperlink {
  color: var(--blue-hyper);
}

.hide {
  display: none;
}


/* --------------------------------------.Tarjeta horizontal.--------------------------------- */

.card__list {
  max-width: 1200px;
  margin: 2rem auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  height: 250px;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease-in;
}

.card:hover {
  transform: translateY(-5px);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

@media(max-width: 768px) {
  .card {
    flex-direction: column !important;
    height: auto;
  }
}

.card__img {
  flex: 1 30%;
  -webkit-flex: 1 30%;
  overflow: hidden;
  position: relative;
}

.card__img-preview {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  min-width: 150px;
  max-width: 100%;
  min-height: 100%;
  transition: all 0.5s ease 0s;
}

.card__img-preview:hover {
  transform: scale(1.5);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

.card__content {
  flex: 1 70%;
  -webkit-flex: 1 70%;
  padding: 0.8rem;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.card__text {
  font-size: 0.9rem;
  margin: 0;
}

.card__description {
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.5rem;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 2rem;
  line-height: 1rem;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #efefef;
  text-align: right;
  padding-top: 0.5rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #888;
}

.card__price {
  color: #E35354;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

/* -----------------------------------.borrar.------------------------------------------ */

.buttons {
  white-space: nowrap;
  min-height: 40px;
  position: relative;
  margin: 10px 0 10px 10px
}

.buttons a {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 0;
  text-decoration: none;
  padding-top: 3px;
  outline-width: 0px;
  text-align: center;
  line-height: 15px;
  display: block;
}


.unClickedIcon {
  color: var(--orange-neon);
}

.clickedIcon {
  color: #fff;
}

.unClickedBack {
  background-color: var(--main-bg-color);
}

.clickedBack {
  background-color: var(--orange-neon);
}





.buttons a:last-of-type {
  border-radius: 0 7px 7px 0;
}

.buttons a:first-of-type {
  border-radius: 7px 0 0 7px;
  left: 0;
}

.buttons a:nth-of-type(2) {
  left: 51px
}






/* peripherial stuff: text and body */