<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/productCategory.css">
    <link rel="shortcut icon" href="./icons/favicon.ico" type="image/x-icon">




    <title>DM - Categorías</title>
</head>


<body>
    <%- include('../partials/navBar')%>

    <!--<div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">-->


    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Categorías</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Notebooks</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categorias
                    </div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="#" style="text-decoration: none;">Notebooks</a>
                        </li>
                        <li class="list-group-item"><a href="#"
                                style="text-decoration: none;">Accesorios</a>
                        </li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;">Disco
                                rígidos</a>
                        </li>
                        <li class="list-group-item"><a href="#" style="text-decoration: none;">Memoria
                                Ram</a>
                        </li>

                    </ul>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase">Producto destacado</div>
                    <div class="card-body">
                        <img class="img-fluid" src="../img/notebook1.jpg" />
                        <h5 class="card-title"><a href="/detalles" title="Ver producto"
                                style="text-decoration: none;">Notebook</a></h5>
                        <p class="card-text">HP 14-CK0061la Intel Celeron</p>
                        <p class="bloc_left_price">
                            <h4 class="price">$50.999</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../img/notebook2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/detalles" title="Ver producto"
                                        style="text-decoration: none;">Notebook</a></h4>
                                <p class="card-text">EXO SMART PRO Q5-H5288</p>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h4 class="price">$69.999</h4>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="" class="btn btn-success btn-block">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../img/notebook3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/detalles" title="Ver producto"
                                        style="text-decoration: none;">Notebook</a></h4>
                                <p class="card-text">Acer NITRO 5 i5-8300H</p>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h4 class="price">$74.999</h4>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-success btn-block">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../img/notebook4.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/detalles" title="Ver producto"
                                        style="text-decoration: none;">Notebook</a></h4>
                                <p class="card-text">HP 14-ck0047la Intel Core i3</p>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h4 class="price">$74.999</h4>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-success btn-block">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../img/notebook5.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/detalles" title="Ver producto"
                                        style="text-decoration: none;">Notebook</a></h4>
                                <p class="card-text">2en1 EXO TW7 Intel Atom</p>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h4 class="price">$32.999</h4>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-success btn-block">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../img/notebook5.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/detalles" title="Ver producto"
                                        style="text-decoration: none;">Notebook</a></h4>
                                <p class="card-text">2en1 EXO Atom Intel Core i5</p>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h4 class="price">$41.999</h4>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-success btn-block">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../img/notebook2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/detalles" title="Ver producto"
                                        style="text-decoration: none;">Notebook</a></h4>
                                <p class="card-text">en1 EXO Atom Intel Core i20</p>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h4 class="price">$41.999</h4>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-success btn-block">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination" style="padding-top: 20px;">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Próximo</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('../partials/footer')%>

</body>

</html>